<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoCar">
        <activity
            android:name=".ui.order.food.SearchFoodActivity"
            android:exported="false" />
        <activity
            android:name=".ui.order.ride.OrderFinishedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.order.ride.PaymentMethodActivity"
            android:exported="false" />
        <activity
            android:name=".ui.order.ride.DetailPesananActivity"
            android:exported="false" />
        <activity
            android:name=".ui.order.food.SearchFoodLocationActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.order.food.DetailPesananActivity"
            android:exported="false" />
        <activity
            android:name=".ui.order.food.DriverStatusFoodActivity"
            android:exported="false" />
        <activity
            android:name=".ui.order.ride.OrderConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.order.ride.DriverStatusRideActivity"
            android:exported="false" />
        <activity
            android:name=".ui.order.ride.SearchInputActivity"
            android:exported="false" />
    </application>

</manifest>